.missionaryChipsTags input[type="checkbox"] {
  appearance: none;
  /* width: 140px; */
  width: 100%;
  height: 32px;
  background-color: #ffffff;
  border-radius: 36px;
  border: 1px solid #E1E2E6;
  flex-shrink: 0 !important;
  cursor: pointer;
}

.missionaryChipsTags input[type="checkbox"]:checked {
  appearance: none;
  /* width: 140px; */
  width: 100%;
  height: 32px;
  border-radius: 36px;
  flex-shrink: 0 !important;
  cursor: pointer;
  background-color: #5461CA;
}

.missionaryChipsTags label {
  /* width: 140px; */
  width: 100%;
  height: 32px;
  border-radius: 36px;
  flex-shrink: 0 !important;
  cursor: pointer;
}